spring:
  datasource:
    url: jdbc:h2:mem:credit_system_db
    username: mfvp
    password:
  jpa:
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        trace: false
        web-allow-others: false

